body {
  font-weight: 100;
  margin: 0px;
  width: 550px;
  height: 600px;
  outline: solid;
  outline-color: #DFE1E5;
}

ol, ul {
  padding-left: 30px;
}

.background {
  width: 550px;
  height: 600px;
  background: '#F9F9F9';
}

.header {
  outline: solid;
  outline-color: #DFE1E5;
}

.mainbutton {
  width: 90%;
  height: 60%;
  background: #4493BD;
  border-radius: 5px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center
}

.logo {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
}

.sent {
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center
}

.thanks{
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


/* fonts */

.heading1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: light;
  font-size: 18px;
}

.bodyCopy {font-family: Helvetica;
font-style: normal;
font-weight: light;
font-size: 13px;
}

.bodyLabel {font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}

/* Main Content style */

.mainContent {
  position: relative;
  background: #F9F9F9;
  height: 465px;
  width: 550px;
  outline: solid;
  outline-color: #DFE1E5;
}

.mainInside {
  padding: 20px
}

.mainThumb {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 250px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* account style */
.seedBox {
  position: relative;
  /* top: 30%; */
  padding: 10px;
  height: 40px;
  background: #FFFFFF;
  outline: solid;
  outline-color: #DFE1E5;
  color:#A77121;
  width: 489px;
}

.accountBox {
  position: relative;
  /* top: 30%; */
  padding: 20px;
  height: 40px;
  background: #FFFFFF;
  outline: solid;
  outline-color: #DFE1E5;
}

.accountName {
  position: absolute;
  top: 20px;
  left: 78px;
}

.accountAddress{
  position: absolute;
  top: 38px;
  left: 78px;
}

.identicon {
  position: absolute;
  top: 18px;
  left: 17px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mainText {
  border: none;
  position: relative;
  height: 30px;
  width: 100%;
  border-radius: 2px;
  outline: solid;
  outline-color: #DFE1E5;
}

.mainButton {
  border: none;
  position: relative;
  height: 30px;
  width: 100%;
  border-radius: 2px;
}

/* Popup style */

input[type=text]:focus {
  border: none;
}

.search {
  border: none;
  position: absolute;
  top: 14px;
  left: 250px;
  height: 30px;
  width: 160px;
  border-radius: 2px;
  outline: solid;
  outline-color: #DFE1E5;
}

.moreRow {
  position: relative;
  border-bottom: 2px solid #DFE1E5;
  padding: 10px 35px 10px 10px;
  vertical-align: middle;
}

.moreRowTop {
  position: relative;
  /* border-bottom: 1px solid #DFE1E5; */
  padding: 8px 39px 5px 10px;
  height: 25px;
  vertical-align: middle;
}

.moreRowBottom {
  position: relative;
  border-bottom: 2px solid #DFE1E5;
  padding: 8px 39px 9px 10px;
  height: 25px;
  vertical-align: middle;
}

.moreText {
  position: absolute;
  top: 50%;
  left: 35px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.accountText {
  padding-top: 5px
}

.moreButton {
  position: relative; 
  margin-bottom: 6px
}

.moreButtonBottom {
  position: relative; 
}

.moreAccount {
  position: absolute;
  background: #F9F9F9;
  top: 50px;
  left: 290px;
  width: 260px;
  height: 171;
  border-radius: 2px;
  outline: solid;
  outline-color: #DFE1E5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.more {
  position: absolute;
  background: #F9F9F9;
  top: 50px;
  left: 290px;
  width: 260px;
  height: 386px;
  border-radius: 2px;
  outline: solid;
  outline-color: #DFE1E5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.settings {
  position: absolute;
  background: #F9F9F9;
  top: 50px;
  left: 330px;
  width: 220px;
  height: 135px;
  border-radius: 2px;
  outline: solid;
  outline-color: #DFE1E5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.accountMenu {
  position: absolute;
  background: #F9F9F9;
  top: 70px;
  left: 270px;
  width: 220px;
  height: 154px;
  border-radius: 2px;
  outline: solid;
  outline-color: #DFE1E5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}